body {
	margin: 0;
	font-family: 'Segoe UI', 'Roboto', 'Oxygen';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
}

.row {
	width: 100px;
}

.btnCompo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
}

.btn {
	margin: 10px;
	padding: 10px 10px;
	width: 80px;
	background: #fff;
	border-color: rgba(209, 206, 206, 0.25);
	border-radius: 10px;
	cursor: pointer;
}
