body {
	margin: 0;
	font-family: 'Segoe UI', 'Roboto', 'Oxygen';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
}

.row {
	width: 100px;
}

.btn {
	margin: 10px;
	margin-left: 40px;
	padding: 10px 10px;
	width: 80px;
	background: #fff;
	border-color: rgba(209, 206, 208, 0.3);
	border-radius: 10px;
	cursor: pointer;
}
